.rule {
  margin-bottom: 32px;
  padding: 35px 40px;
  background: $light;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    padding: 20px;
    width: 100%;
  }

  p {

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: 700;
      color: $secondary;

      @include transition;

      &:hover {
        color: $primary;
      }
    }
  }
}
