mixin announce(data)
  .announce&attributes(attributes)
    h3.text-violet.mb-30.mb-lg-80 Во время программы вас ждут:
    .row
      .col-lg-6
        .announce__picture
          img.announce__picture-img(src="./img/about-bottom.jpg", alt)
      .col-lg-6
        .announce__list
          ul.fancy.mb-20.mb-lg-40
            li Панельные дискуссии
            li Мастер-классы
            li Встречи с российской молодежью и представителями органов исполнительной власти
            li Работа в тематических группах 
            li Совместное решение кейсов
            li Командообразование
            li Возможность стать спикером в программе 2.0
            li Нетворкинг
            li Трансляции церемоний открытия и закрытия
          a.btn.btn-primary(href="program.html") Подробнее о Программе
