.announce {
  margin-top: 140px;
  margin-bottom: 114px;

  @include media-breakpoint-down(md) {
    margin: 40px 0;
  }

  &__picture {
    position: relative;

    &:before {
      position: absolute;
      bottom: -62px;
      left: -88px;
      display: block;
      width: 248px;
      height: 248px;
      content: '';
      background: #65a18d;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:after {
      position: absolute;
      top: -90px;
      right: -64px;
      display: block;
      width: 241px;
      height: 217px;
      content: '';
      background: url(../img/about-bottom-right.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__picture-img {
    position: relative;
    z-index: 1;
    border-radius: 4px;
  }

  &__list {
    padding-left: 36px;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
      padding-left: 0;
    }
  }
}
