mixin question(data)
  .question&attributes(attributes)
    .question__wrapper
      .question__container
        .question__header Для 
          a.question__header-name(href="#") Валентинова Татьяна
        .question__content
          p.xs.text-black.mb-10= data.dscr
          .question__author Вопрос от: 
            a.question__author-name(href="#") ANTON KURKIN
      a.question__evaluation(href="#") 150
    if data && data.answer
      .question__answer
        .question__wrapper
          .question__container
            .question__header Ответ
            .question__content
              p.xs.text-black.mb-0 Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?
          .question__evaluation 150
