.question {
  padding-right: 17px;
  padding-bottom: 27px;
  background: #fff;

  &__wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__container {
  }

  &__header {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    color: $dark;
  }

  &__header-name {
    color: $secondary;

    @include transition;
  }

  &__content {
    margin-right: 27px;
  }

  &__author {
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
  }

  &__author-name {
    text-transform: uppercase;
    color: $secondary;

    @include transition;
  }

  &__evaluation {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    color: #000;

    @include transition;

    &:before {
      margin-right: 12px;
      display: block;
      width: 14px;
      height: 13px;
      content: '';
      background: url(../img/upvote.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    margin-top: 10px;
    padding: 16px 14px 18px 20px;
    background: #eef1f6;
    border-radius: 5px;
  }
}
