mixin modal(data)
  .modal&attributes(attributes)
    if data && data.type
      case data.type
    
        when 'question'
          .modal__question-content
            .modal__header
              h3.text-secondary.mb-0 Задать вопрос
            form.form.modal__question(action="#", method="POST")
              .form__item.form-group
                label.p.sm.text-secondary.mb-10 Выберите спикера
                +select({
                  placeholder: 'Введите'
                })
              .form__item.form-group
                label.p.sm.text-secondary.mb-10 Вопрос для спикера
                textarea.input.input--textarea(placeholder="Введите")
              p.xs.text-dark Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставлены они пройдут предварительную модерацию.
            button.btn.btn-primary.w-100(type="submit") Отправить
          .modal__question-sent
            .modal__question-sent-header Вопрос отправлен
    
        when 'login'
          .modal__header
            h3.text-secondary.mb-0 Войти
          form.form(action="#", method="POST")
            .form__item
              label.p.sm.text-secondary.mb-10 Логин
              input.input.form-control(type="text")
            .form__item
              label.p.sm.text-secondary.mb-10 Пароль
              input.input.form-control(type="password")
            a.p.sm.text-secondary(href="#password", data-fancybox) Забыли пароль?
            button.btn.btn-primary.w-100.mt-20(type="submit") Отправить
    
        when 'password'
          .modal__header
            h3.text-secondary.mb-0 Восстановить пароль
          form.form(action="#", method="POST")
            .form__item
              label.p.sm.text-secondary.mb-10 Логин
              input.input.form-control(type="text")
            button.btn.btn-primary.w-100.mt-20(type="submit") Восстановить пароль
    
        when 'offer'
          .modal__header
            h3 Предложить сессию
          form.form.modal__offer-form(action="#", method="POST")
            .form__item
              label.p.sm.text-secondary.mb-10 Тема сессии
              input.input.form-control(type="text" placeholder="Заголовок для темы сессии")
            .form__item.form-group
              label.p.sm.text-secondary.mb-10 Описание сессии
              textarea.input.input--textarea
            button.btn.btn-primary(type="submit") Предложить сессию
          .modal__offer-sent
            p Спасибо! Ваше предложение отправлено.
          
            
        default
          div
