.modal {
  padding: 30px 40px;
  display: none;
  width: 100%;
  max-width: 720px;

  @include media-breakpoint-down(sm) {
    padding: 15px 20px;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__question {
    margin-top: 20px;
  }

  &__question-content {
  }

  &__question-sent {
    padding: 80px 100px 70px;
    display: none;
    //    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: $dark;

    &:before {
      margin-bottom: 20px;
      display: block;
      width: 80px;
      height: 80px;
      content: '';
      background: url(../img/modal-check.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__form {
    padding: 20px 24px 0;
  }

  &__short-form {
    max-width: 400px;
  }

  &__offer-form {
  }

  &__offer-sent {
    display: none;
  }

  &--short {
    max-width: 420px;
  }
}
