@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro.woff2') format('woff2'),
    url('../fonts/subset-GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/subset-GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
