html {
}

body {
  -webkit-font-smoothing: antialiased;
  color: $dark;
  background: url(../img/pattern-top.svg) no-repeat top center;
  background-size: 100% auto;

  @include media-breakpoint-down(md) {
    background: #fff;
  }

  &.fixed {
    overflow: hidden;
  }
}
