h1,
.h1 {
  font-size: 81px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 26px;
  }

  &.mob-sm {

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

h6,
.h6 {
}

p,
.p {
  font-size: 20px;
  line-height: 1.6;

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  &.md {
    font-size: 18px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &.sm {
    font-size: 15px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &.xs {
    font-size: 13px;
    line-height: 1.5;
  }

  &.xxs {
    font-size: 11px;
    line-height: 1.2;
  }

  &.lh-lg {
    line-height: 1.8;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.text-blue {
  color: $blue;
}

.text-violet {
  color: $violet;
}

.text-sky {
  color: $sky;
}

.border-radius {
  border-radius: 5px;
}

.semi-transparent {
  opacity: .8;
}

ul {

  li {
    margin-bottom: 17px;
    font-size: 15px;
    line-height: 1.5;
  }

  &.fancy {
    margin-bottom: 0;
    padding-left: 0;

    li {
      position: relative;
      padding-left: 37px;
      list-style: none;

      &:before {
        position: absolute;
        top: 2px;
        left: 0;
        margin-right: 17px;
        display: block;
        width: 21px;
        height: 15px;
        content: '';
        background: url(../img/fancy-list-icon.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {

  &:hover {
    color: $primary;
  }
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
