.step {
  margin-bottom: 65px;
  padding-right: 20px;
  flex: 1;

  @include media-breakpoint-down(md) {
    width: 50%;
    flex: auto;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    padding-right: 0;
    width: 100%;
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__header {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    color: $violet;

    &:after {
      position: absolute;
      top: 50%;
      left: 81px;
      display: block;
      width: calc(100% - 81px);
      height: 16px;
      content: '';
      background: url(../img/step-arrow.svg) no-repeat center;
      background-size: contain;
      transform: translateY(-50%);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__number {
    position: relative;
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  &__content {
  }

  &__dscr {

    a {
      text-decoration: underline;
      color: $secondary;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__link {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: $secondary;

    @include transition;
  }

  &:nth-child(1) {

    .step__number {

      &:before {
        background: #81a6d3;
        transform: rotate(45deg);
      }
    }
  }

  &:nth-child(2) {

    .step__number {

      &:before {
        background: #4ab9ff;
        transform: rotate(60deg);
      }
    }
  }

  &:nth-child(3) {

    .step__number {

      &:before {
        background: #ffdc64;
        transform: rotate(75deg);
      }
    }
  }

  &:nth-child(4) {

    .step__number {

      &:before {
        background: #b381d3;
        transform: rotate(105deg);
      }
    }
  }

  &:nth-child(5) {

    .step__number {

      &:before {
        background: #6fb5bf;
        transform: rotate(120deg);
      }
    }
  }

  &:last-child {

    .step__header {

      &:after {
        display: none;
      }
    }
  }
}
