.plan {

  &__item-wrapper {

    &:nth-child(2n + 1) {

      .plan__item {

        &:after {
          right: -40px;
          display: block;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n) {
      margin-top: 114px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      .plan__item {

        &:after {
          left: -40px;
          display: block;
          transform: scale(-1, 1);

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }

    &:last-child {

      .plan__item {

        &:after {
          display: none;
        }
      }
    }
  }

  &__item {
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &:after {
      position: absolute;
      z-index: 1;
      top: 100%;
      display: none;
      width: 312px;
      height: 64px;
      content: '';
      background: url(../img/plan-line-bottom.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
