mixin plan(data)
  .plan&attributes(attributes)
    .row
      .col-lg-6.plan__item-wrapper
        +solution({
          icon: 'solution-1.svg',
          dscr: 'Анализ деятельности Сообщества молодых соотечественников, проживающих за рубежом, и молодежных организаций соотечественников'
        }).plan__item
      .col-lg-6.plan__item-wrapper
        +solution({
          icon: 'solution-2.svg',
          dscr: 'Формирование стратегии развития Сообщества молодых соотечественников на 2022-2025 гг.'
        }).plan__item
      .col-lg-6.plan__item-wrapper
        +solution({
          icon: 'solution-3.svg',
          dscr: 'Продвижение объективного образа России среди зарубежной молодежи'
        }).plan__item
      .col-lg-6.plan__item-wrapper
        +solution({
          icon: 'solution-4.svg',
          dscr: 'Изучение лучших практик взаимодействия и содействие межкультурному диалогу молодежи России и зарубежья'
        }).plan__item
      .col-lg-6.plan__item-wrapper
        +solution({
          icon: 'solution-5.svg',
          dscr: 'Трансляция положительного опыта и обмен лучшими практиками между молодыми соотечественниками'
        }).plan__item
      .col-lg-6.plan__item-wrapper
        +solution({
          icon: 'solution-6.svg',
          dscr: 'Создание условий для формирования у молодых соотечественников устойчивой системы нравственных и гражданских ценностей'
        }).plan__item
