.about {
  padding: 130px 0 150px;
  background: rgba(#b6c3d9, .23);
  border-radius: 4px;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  &__top {
    margin-bottom: 115px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__top-content {
    position: relative;
    z-index: 1;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__top-picture {
  }

  &__top-picture-img {
  }

  &__bottom {
  }

  &__bottom-picture {
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    &:before {
      position: absolute;
      bottom: -62px;
      left: -88px;
      display: block;
      width: 248px;
      height: 248px;
      content: '';
      background: #65a18d;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:after {
      position: absolute;
      top: -90px;
      right: -64px;
      display: block;
      width: 241px;
      height: 217px;
      content: '';
      background: url(../img/about-bottom-right.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__bottom-img {
    position: relative;
    z-index: 1;
    border-radius: 4px;
  }
}
