mixin about(data)
  .about&attributes(attributes)
    .container
      .about__top
        .row
          .col-lg-4.d-flex.align-items-center
            .about__top-content
              h1.text-blue.mb-25 Участники
              h4.mb-0 Российские соотечественники в возрасте от 18 до 40 лет
          .col-lg-8.d-flex.align-items-center
            .about__top-picture
              img.about__top-picture-img(src="./img/about-top.jpg", alt)
      .row.mb-30.mb-lg-70
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-1.svg',
            dscr: 'представители русских сообществ (домов, ассоциаций, объединений, центров)'
          })
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-2.svg',
            dscr: 'представители молодёжных общественных объедений'
          })
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-3.svg',
            dscr: 'представители творческих коллективов'
          })
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-4.svg',
            dscr: 'представители русских православных приходов за рубежом'
          })
      .about__bottom
        h3.mb-20.mb-lg-80 Во время программы вас ждут:
        .row
          .col-lg-6
            .about__bottom-picture
              img.about__bottom-img(src="./img/about-bottom.jpg", alt)
          .col-lg-6
            .row.pt-lg-15
              .col-sm-6
                +feature({
                  dscr: 'Пленарные заседания и панельные дискуссии',
                  rotation: '-140'
                }).feature--violet
                +feature({
                  dscr: 'Работа в тематических группах и решение кейсов',
                  rotation: '-103'
                }).feature--green
                +feature({
                  dscr: 'Возможность стать спикером в программе 2.0',
                  rotation: '-34'
                }).feature--purple
              .col-sm-6
                +feature({
                  dscr: 'Лекции и мастер-классы',
                  rotation: '45'
                }).feature--gray
                +feature({
                  dscr: 'Обмен опытом и изучение лучших практик межкультурного диалога',
                  rotation: '15'
                }).feature--blue
                +feature({
                  dscr: 'Встречи с российской молодежью и представителями органов исполнительной власти',
                  rotation: '-34'
                }).feature--yellow
