mixin news(data)
  a.news(href="article.html")&attributes(attributes)
    .news__picture(style="background-image: url(./img/" + data.picture + ');')
    .news__content
      .news__date 4 июня 2021
      .news__title Инициатива проведения сформирована активом Сообщества молодых соотечественников,
