.news {
  position: relative;
  margin-bottom: 32px;
  padding-top: 93.45%;
  display: block;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;

  &:hover {

    .news__picture {
      transform: scale(1.1);
    }
  }

  &__picture {

    @include transition;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 28px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(2.13deg, #000000 1.54%, rgba(0, 0, 0, 0) 56.57%);
    border-radius: 5px;

    @include transition;
  }

  &__date {
    padding: 7.5px 10.3px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    background: rgba(69, 107, 172, .4);
    border-radius: 4px;
  }

  &__title {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    color: rgba(#fff, .8);
  }
}
