mixin message(data)
  .message&attributes(attributes)
    .message__wrapper
      .message__photo(style="background-image: url(./img/" + data.photo + ");")
      .message__content
        .message__content-header
          p.sm.message__name= data.name
          .message__content-time 10:10
        p.xs.mb-0= data.content
      a.message__menu(href="#")
    if block
      block
