.message {
  position: relative;
  margin-bottom: -10px;

  @include transition;

  &__wrapper {
    padding: 16px 20px 10px 33px;
    display: flex;
    align-items: flex-start;

    @include transition;

    @include media-breakpoint-down(sm) {
      padding: 15px 30px 15px 15px;
    }

    &:hover {
      background: #eef1f6;

      .message__menu {
        opacity: 1;
        pointer-events: auto;
      }

      .message__content-time {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__photo {
    margin-right: 14px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
  }

  &__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin-bottom: 0;
    overflow: hidden;
    max-width: 210px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__content-time {
    font-size: 10px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: rgba($dark, .5);

    @include transition;
  }

  &__menu {
    position: absolute;
    top: 20px;
    right: 16px;
    display: block;
    width: 4px;
    height: 20px;
    opacity: 0;
    pointer-events: none;
    background: url(../img/message-menu.svg) no-repeat center;
    background-size: contain;

    @include transition;
  }

  .message {

    .message__wrapper {
      padding-left: 63px;
    }

    .message__photo {
      margin-right: 12px;
      width: 19px;
      height: 19px;
    }

    .message__name {
      font-size: 13px;
    }
  }

  &--user {

    .message__name {
      color: $secondary;
    }
  }
}
