/* Bootstrap */

.btn {
  padding: 12px 22.3px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 700;
  border-radius: 4px;

  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-down(md) {
    padding: 8px 15px;
    font-size: 13px;
  }

  &.btn-primary {
    color: $secondary;
  }

  &.btn-arrow {
    display: inline-flex;
    align-items: center;

    &:before {
      margin-right: 10px;
      display: block;
      width: 8px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/btn-arrow.svg) no-repeat center;
      background-size: contain;

      @include transition;
    }

    &:hover {
      color: $secondary;
      background: #fff;

      &:before {
        transform: translateY(2px);
      }
    }
  }
}

.nav-tabs {
  margin-bottom: 15px;
  border-bottom: 0;

  .nav-item {
    margin-right: 8px;
    margin-bottom: 10px;

    &:hover {

      .nav-link {
        background: rgba(255, 198, 0, .1);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .nav-link {
      margin-bottom: 0;
      padding: 7.5px 19.7px;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 700;
      white-space: nowrap;
      color: $secondary;
      border: 1px solid #ffc600;
      border-radius: 4px;

      @include transition;

      @include media-breakpoint-down(sm) {
        padding: 5px 10px;
        font-size: 16px;
      }

      &.active {
        background: rgba(255, 198, 0, .2);
      }
    }
  }

  &--sm {

    .nav-item {

      .nav-link {
        padding: 0 5.1px;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 700;
        color: $violet;
        border: 1px solid $secondary;
        border-radius: 4px;

        &:hover {
          background: transparent;
          border-color: $primary;
        }

        &.active {
          background: $primary;
          border-color: $primary;
        }
      }
    }
  }
}

/* Perfect Scrollbar */

.ps__rail-y {
  width: 6px;
  opacity: 1 !important;
  background: #e8e8e8 !important;

  .ps__thumb-y {
    right: 0;
    background: $secondary;
    border-radius: 0;

    &:hover {
      background: $secondary;
    }
  }

  &:hover {

    .ps__thumb-y {
      width: 6px !important;
    }
  }
}

/* Select2 */

.select2-container .select2-selection--single {
  height: 50px;
  border-color: #ced4da;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
  display: flex;
  height: 50px;
  align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 10px;
  background: url(../img/select-arrow.svg) no-repeat center;
  background-size: 50%;
  transform: translateY(-50%);
}

.select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-results > .select2-results__options li {
  margin-bottom: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  &:before {
    display: none;
  }
}

/* Fancybox */

.fancybox__backdrop {
  background: rgba(#000, .6);
}

.fancybox__slide {

  @include media-breakpoint-down(sm) {
    padding: 16px;
  }
}

/* Slick */

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  font-size: 0;
  background: url(../img/slider-arrow.svg) no-repeat center;
  background-size: contain;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &.slick-prev {
    left: -8px;
    transform: rotate(180deg);

    @include media-breakpoint-down(lg) {
      left: 8px;
    }
  }

  &.slick-next {
    right: -8px;

    @include media-breakpoint-down(lg) {
      right: 8px;
    }
  }
}
