
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/socials/socials.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/appeal/appeal.pug
include ../blocks/event/event.pug
include ../blocks/footer/footer.pug
include ../blocks/speaker/speaker.pug
include ../blocks/article/article.pug
include ../blocks/news/news.pug
include ../blocks/partners/partners.pug
include ../blocks/stream/stream.pug
include ../blocks/live/live.pug
include ../blocks/chat/chat.pug
include ../blocks/message/message.pug
include ../blocks/person/person.pug
include ../blocks/question/question.pug
include ../blocks/program/program.pug
include ../blocks/item/item.pug
include ../blocks/front/front.pug
include ../blocks/about/about.pug
include ../blocks/video/video.pug
include ../blocks/participants/participants.pug
include ../blocks/feature/feature.pug
include ../blocks/task/task.pug
include ../blocks/info/info.pug
include ../blocks/solution/solution.pug
include ../blocks/plan/plan.pug
include ../blocks/organizer/organizer.pug
include ../blocks/modal/modal.pug
include ../blocks/field/field.pug
include ../blocks/file/file.pug
include ../blocks/contact/contact.pug
include ../blocks/link-back/link-back.pug
include ../blocks/topic/topic.pug
include ../blocks/topic/topic.pug
include ../blocks/proposal/proposal.pug
include ../blocks/modal/modal.pug
include ../blocks/select/select.pug
include ../blocks/news-slider/news-slider.pug
include ../blocks/format/format.pug
include ../blocks/details/details.pug
include ../blocks/initiative/initiative.pug
include ../blocks/step/step.pug
include ../blocks/announce/announce.pug
include ../blocks/rule/rule.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/messenger/messenger.pug