mixin topic(data)
  .topic&attributes(attributes)
    a.h5.text-secondary.d-block.mb-5(href="#") Название темы
    p.xs.mb-10 Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Из приоритетных направлений экономики в регионах является одним из приоритетных
    if data && data.interest
      a.topic__interest.topic__interest--active(href="#")
        .topic__interest-header Интересно
        .topic__interest-count 65
    else
      a.topic__interest(href="#")
        .topic__interest-header Интересно
        .topic__interest-count 64
