.topic {
  margin-bottom: 20px;
  padding: 20px;
  background: #eef1f6;
  border-radius: 5px;

  &__interest {
    margin-top: 5px;
    display: inline-flex;
    background: #fff;
    border: 1px solid $secondary;
    border-radius: 4px 5px 5px 4px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--active {
      background: $secondary;
      border: 0;

      .topic__interest-header {
        color: #fff;
      }
    }
  }

  &__interest-header {
    padding: 4.5px 5.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: $secondary;
  }

  &__interest-count {
    padding: 4.5px 6.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: $violet;
    background: #fff;
    border-radius: 4px;
  }
}
