.breadcrumbs {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__item {
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 4px 7px;
    font-size: 11px;
    line-height: 1.5;
    color: $secondary;
    background: $primary;
    border-radius: 4px;

    @include transition;

    &:hover {
      opacity: .8;
      color: $secondary;
    }

    &:last-child {
      background: rgba(182, 195, 217, .2);
    }
  }
}
