.input {
  padding: 0 15px;
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--textarea {
    padding: 10px 15px;
    display: block;
    min-height: 150px;
    resize: none;

    @include placeholder(rgba($dark, .5));

    @include media-breakpoint-down(sm) {
      min-height: 100px;
    }
  }
}
