.contact {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light;
  border-radius: 5px;

  @include media-breakpoint-down(xs) {
    flex-direction: column-reverse;
    align-items: flex-start;
    background: transparent;
  }

  &__content {
    padding: 10px 50px;

    @include media-breakpoint-down(md) {
      padding: 20px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      padding: 0;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.5;
    color: $violet;

    @include transition;

    &:before {
      margin-right: 14px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/msg-wa.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__picture {
    position: relative;
    width: 144px;
    height: 144px;
    border-radius: 5px;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top center;
  }
}
