mixin contact(data)
  .contact&attributes(attributes)
    .contact__content
      h5.mb-10= data.name
      a.contact__phone(href="#")= data.phone
    .contact__picture
      img.contact__picture-img(src="./img/" + data.photo, alt)
