mixin chat(data)
  .chat&attributes(attributes)
    .chat__header
      h5.text-black.mb-0 Общий чат
    .chat__content
      +message({
        photo: 'speaker-1.jpg',
        name: 'Вячеслав Чморшанский',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      })
      +message({
        photo: 'speaker-2.jpg',
        name: 'Константин Константиновский',
        content: 'Пора вводить специальную рубрику извинения от Ивана'
      })
      +message({
        photo: 'speaker-3.jpg',
        name: 'Виктор Можайский (Вы)',
        content: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием '
      }).message--user
      +message({
        photo: 'speaker-4.jpg',
        name: 'Ветер Дуновой',
        content: 'Каждый год горит Тайга Дальнего Востока. '
      })
        +message({
          photo: 'speaker-6.jpg',
          name: 'Виктор Можайский (Вы)',
          content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые'
        }).message--user
      +message({
        photo: 'speaker-5.jpg',
        name: 'Анжелика Должанская',
        content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего '
      })
      +message({
        photo: 'speaker-1.jpg',
        name: 'Вячеслав Чморшанский',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      })
      +message({
        photo: 'speaker-2.jpg',
        name: 'Константин Константиновский',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      })
      +message({
        photo: 'speaker-3.jpg',
        name: 'Виктор Можайский (Вы)',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      }).message--user
      +message({
        photo: 'speaker-4.jpg',
        name: 'Ветер Дуновой',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      })
        +message({
          photo: 'speaker-6.jpg',
          name: 'Виктор Можайский (Вы)',
          content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые'
        }).message--user
      +message({
        photo: 'speaker-5.jpg',
        name: 'Анжелика Должанская',
        content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
      })
    .chat__footer
      form.chat__form(action="#", method="POST")
        input.chat__input(type="text", placeholder="Сообщение")
        button.chat__btn(type="submit")
      //.chat__footer-content
        .chat__footer-message Для отправки сообщений 
          a.chat__footer-message-link(href="#") Войдите
