.chat {
  background: #fff;
  border-top: 1px solid #354a94;

  @include media-breakpoint-down(md) {
    margin-top: 30px;
  }

  &__header {
    padding: 13px 33px;
  }

  &__content {
    position: relative;
    max-height: 560px;

    @include media-breakpoint-down(sm) {
      max-height: 360px;
    }
  }

  &__footer {
    margin-top: 10px;
    background: #eef1f6;
    border-radius: 8px;
  }

  &__form {
    padding: 5px 18.5px;
    display: flex;
    align-items: center;
  }

  &__input {
    height: 46px;
    flex-grow: 1;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    background: transparent;
    border: 0;

    @include placeholder(rgba(#495057, .5));
  }

  &__btn {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    background: url(../img/chat-btn.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__footer-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer-message {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    color: #495057;
  }

  &__footer-message-link {
    font-weight: 700;
    text-decoration: underline;
    color: $secondary;

    @include transition;

    &:hover {
      text-decoration: none;
    }
  }
}
