.proposal {
  margin-bottom: 24px;
  padding: 25px 40px 25px 25px;
  display: flex;
  align-items: center;
  background: url(../img/dark-pattern.svg) no-repeat right center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__btn {
    margin-left: 40px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
