mixin proposal(data)
  .proposal&attributes(attributes)
    h5.text-white.mb-0 У вас есть интересная тема для всеобщего обсуждения? Предложите ее!
    a.btn.btn-primary.proposal__btn(href="#offer", data-fancybox) Предложить сессию
