.stream {
  margin-top: -28px;
  margin-bottom: -25px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__overlay {
    margin: 110px 0 90px;

    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
  }

  &__wrapper {
    position: relative;
    padding: 62px 0 83px;

    @include media-breakpoint-down(md) {
      padding: 30px 0;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: calc(100% + 320px);
    height: 100%;
    background: url(../img/stream-pattern.svg) no-repeat center;
    background-size: cover;
    transform: translate(-50%, -50%);

    &:before {
      position: absolute;
      top: -154px;
      left: -176px;
      display: block;
      width: 487px;
      height: 496px;
      content: '';
      background: url(../img/stream-left.svg) no-repeat center;
      background-size: contain;
    }

    &:after {
      position: absolute;
      right: -175px;
      bottom: -150px;
      display: block;
      width: 471px;
      height: 489px;
      content: '';
      background: url(../img/stream-right.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__container {
  }

  &__content {
    position: relative;
    padding-top: 50.54%;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  &__content-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .5) url(../img/play.svg) no-repeat center;
    background-size: 100px 100px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    @include transition;

    @include media-breakpoint-down(md) {
      background-size: 80px 80px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__info {
    padding: 13px 30px;
    display: flex;
    align-items: baseline;
    background: $violet;
    border-radius: 0 0 4px 4px;

    @include media-breakpoint-down(md) {
      padding: 10px 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    margin-right: 68px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }
}
