mixin stream(data)
  .stream&attributes(attributes)
    .stream__overlay
      .container
        .stream__wrapper
          .stream__bg
          h2.text-blue.mb-35 Онлайн-трансляция
          .row
            .col-lg-10.mx-auto
              .stream__container
                .stream__content.stream__content--default(style="background: url(./img/stream.jpg) no-repeat center; background-size: cover;")
                  a.stream__content-play(href="#")
                .stream__info
                  .stream__text Название сессии
                  .stream__text 21 мая 13:15 — 13:45
