.article {
  margin-bottom: 60px;

  &__header {

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  &__content {
    padding-top: 25px;

    img {
      margin-bottom: 55px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    h5 {
      margin-bottom: 30px;
      color: $violet;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    p {
      margin-bottom: 30px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__share {
    display: flex;
    align-items: center;
  }

  &__share-header {
    margin-right: 26px;
    font-size: 14px;
    line-height: 1.29;
    color: $black;
  }

  &__date {
    font-size: 14px;
    line-height: 1.29;
    color: rgba($black, .5);

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}
