mixin organizer(data)
  .organizer&attributes(attributes)
    img.organizer__logo(src="./img/organizer-logo.svg", alt)
    p.sm.mb-0 Организаторами форума выступают Федеральное агентство по делам молодежи, Федеральное государственное автономное учреждение «Ресурсный Молодежный Центр» и Автономная некоммерческая организация высшего образования «Институт кино и телевидения» (ГИТР).
