.organizer {
  margin-bottom: 77px;
  padding: 48px 87px 56px 64px;
  display: flex;
  align-items: center;
  background: #eef1f6;
  border-radius: 5px;

  &__logo {
    margin-right: 57px;
    flex-shrink: 0;
  }
}
