.appeal {
  position: relative;
  border-top: 1px solid rgba(#81a6d3, .2);
  border-bottom: 1px solid rgba(#81a6d3, .2);

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  &:after {
    position: absolute;
    right: 50px;
    bottom: 140px;
    display: block;
    width: 376px;
    height: 602px;
    content: '';
    background: url(../img/pattern-bottom.svg) no-repeat center;
    background-size: contain;

    @media (max-width: 1299px) {
      bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__picture-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &__container {
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      top: 0;
      left: 64vw;
      display: block;
      width: 100vw;
      height: 100%;
      content: '';
      background: rgba(#b6c3d9, .23);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__wrapper {
    position: relative;
    padding: 80px 0 105px;
    min-height: 494px;

    @include media-breakpoint-down(lg) {
      min-height: 400px;
    }

    @include media-breakpoint-down(md) {
      padding: 30px 0;
      min-height: 0;
    }
  }

  &__content {
  }

  &__phone-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  &__link {
    font-size: 30px;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__messenger {
    margin-right: 22px;
    display: flex;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(sm) {
        margin-right: 22px;
      }
    }
  }

  &__messenger-icon {
    max-width: 100%;
    max-height: 100%;
  }

  &__picture {
    position: absolute;
    right: 28px;
    bottom: 0;

    @include media-breakpoint-down(lg) {
      right: 0;
      max-width: 420px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__photo {
  }
}
