mixin appeal(data)
  .appeal&attributes(attributes)
    .appeal__container
      .container
        .appeal__wrapper
          .appeal__content
            h2.text-secondary.mb-20 У вас есть вопрос?
            p.md.text-black.semi-transparent.mb-10 Напишите нам, и мы свяжемся с вами как можно быстрее
            .appeal__phone-wrapper
              a.h2.appeal__link.text-violet.mb-0.mr-md-20.mr-lg-35(href="tel:+79684901548") +7 968 490 15 48
              a.appeal__messenger(href="#")
                img.appeal__messenger-icon(src="./img/msg-wa.svg", alt)
              a.appeal__messenger(href="#")
                img.appeal__messenger-icon(src="./img/msg-tg.svg", alt)
            a.h3.text-violet.appeal__link.mb-0(href="mailto:compatriotforum2020@gmail.com") compatriotforum2020@gmail.com
    .container.appeal__picture-wrapper
      .appeal__picture
        img.appeal__photo(src="./img/appeal.png", alt)
