.socials {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 16px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &--wide {

    .socials__item {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
