mixin socials(data)
  .socials&attributes(attributes)
  
    if data && data.type == 'share'
      each item in data.items
        a.socials__item.st-custom-button(data-network=item[2], data-url="https://google.ru/", data-title="Lorem Ipsum", data-image="./img/front.jpg", data-description="Lorem ipsum dolor sit amet")
          img(src="./img/" + item[0] + '.svg', alt)
    else
      each item in data.items
        a.socials__item(href=item[1])
          img(src="./img/" + item[0] + '.svg', alt)
