.format {
  padding: 27px 40px 27px 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #eef1f6;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  &__title {
    color: $violet;

    @include media-breakpoint-down(md) {
      flex-grow: 1;
    }
  }

  &__icon {
    margin-left: 47px;
    max-width: 86px;
    max-height: 86px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }

    .format__icon {
      margin-right: 45px;
      margin-left: 0;
    }
  }

  &--light {

    .format__title {
      font-weight: 400;
    }
  }
}
