.solution {
  padding: 22px;
  display: flex;
  min-height: 114px;
  align-items: center;
  background: #eef1f6;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    margin-right: 25px;
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
}
