.info {
  margin-top: -88px;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__picture {
    position: relative;
    margin-right: -4px;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 4px 0 0 4px;

    @include media-breakpoint-down(xs) {
      margin-right: 0;
      width: 100%;
      height: 200px;
      border-radius: 4px 4px 0 0;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: 35px 45px 40px 50px;
    flex: 0 1 48.57%;
    background: $violet;
    border-radius: 4px;
    box-shadow: 0 25px 45px rgba(44, 64, 100, .35);

    @include media-breakpoint-down(lg) {
      padding: 20px;
      flex: 0 1 70%;
    }

    @include media-breakpoint-down(md) {
      box-shadow: none;
    }

    @include media-breakpoint-down(xs) {
      border-radius: 0 0 4px 4px;
    }
  }
}
