mixin info(data)
  .info&attributes(attributes)
    .container
      .info__wrapper
        .info__picture
          img.info__picture-img(src="./img/info.jpg", alt)
        .info__content
          h5.text-sky.mb-35 Проект, объединяющий российских соотечественников со всего мира!
          p.text-white.mb-0 Цель форума - подведение итогов деятельности Сообщества молодых соотечественников, проживающих за рубежом, за 2017-2020 годы и придание нового импульса развитию Сообщества с учетом федеральной и региональной российской молодежной повестки.
