.task {
  position: relative;
  margin-bottom: 32px;
  padding: 53.5px 50px 53.5px 42px;
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;

  @include media-breakpoint-down(lg) {
    padding: 20px;
    min-height: 150px;
  }

  &__pattern {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    @include media-breakpoint-down(sm) {
      top: 0;
      right: 0;
      left: auto;
      transform: none;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__icon {
    margin-right: 53px;
    width: 80px;
    max-height: 100%;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__content {
  }

  &__title {

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }

  &--green {
    background: #65a18d;
  }

  &--blue {
    background: #81a6d3;
  }

  &--turquoise {
    background: #6fb5bf;
  }

  &--red {
    background: #d381a8;
  }
}
