mixin task(data)
  .task&attributes(attributes)
    img.task__pattern(src="./img/" + data.pattern, alt)
    .task__wrapper
      img.task__icon(src="./img/" + data.icon, alt)
      .task__content
        h5.task__title.text-white.mb-0= data.dscr
