.item {
  position: relative;
  margin: 0 8px;
  padding: 12.5px 20px;
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  background: #eef1f6;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    margin: 0 0 10px;
  }

  &--break {
    overflow: hidden;
    background: transparent;

    &:before {
      position: absolute;
      top: 0;
      left: -20px;
      display: block;
      width: calc(100% + 40px);
      height: 100%;
      opacity: .1;
      content: '';
      background: url(../img/item-dashes.svg) center;
    }
  }
}
