mixin footer(data)
  .footer#contacts&attributes(attributes)
    +appeal
    .footer__bottom
      .container
        .footer__bottom-wrapper
          p.xxs.mb-0 ©2021, Международный молодежный форум российских соотечественников, проживающих за рубежом, Online
          a.footer__link(href="#") Политика конфиденциальности
