.footer {

  &__bottom {
    padding: 50px 0;

    @include media-breakpoint-down(lg) {
      padding: 10px 0;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__link {
    font-size: 11px;
    line-height: 1.2;
    color: rgba($secondary, .8);

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-top: 10px;
    }

    &:hover {
      opacity: .8;
    }
  }
}
