.speaker {
  margin-bottom: 40px;
  display: block;
  color: #000;

  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &:hover {
    color: #000;

    .speaker__picture {
      opacity: .8;
    }
  }

  &__picture {
    position: relative;
    width: 160px;
    height: 200px;
    border-radius: 8px;

    @include transition;

    &:before {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -68.5px;
      display: block;
      width: 137px;
      height: 137px;
      content: '';
      transform: rotate(135deg);
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    margin-top: 20px;
    max-width: 220px;
  }

  &__name {
    color: $blue;
  }

  &--yellow {

    .speaker__picture {

      &:before {
        background: #ffc600;
      }
    }
  }

  &--violet {

    .speaker__picture {

      &:before {
        background: #b381d3;
      }
    }
  }

  &--blue {

    .speaker__picture {

      &:before {
        background: #4ab9ff;
      }
    }
  }

  &--green {

    .speaker__picture {

      &:before {
        background: #65a18d;
      }
    }
  }

  &--turquoise {

    .speaker__picture {

      &:before {
        background: #6fb5bf;
      }
    }
  }

  &--gray {

    .speaker__picture {

      &:before {
        background: #b6c3d9;
      }
    }
  }

  &--bottom-left {

    .speaker__picture {

      &:before {
        left: -5px;
        margin-left: 0;
      }
    }
  }

  &--top-right {

    .speaker__picture {

      &:before {
        top: 0;
        right: -5px;
        left: auto;
        margin-left: 0;
      }
    }
  }

  &--top {

    .speaker__picture {

      &:before {
        top: 0;
        bottom: auto;
      }
    }
  }

  &--bottom-right {

    .speaker__picture {

      &:before {
        right: -5px;
        left: auto;
        margin-left: 0;
      }
    }
  }
}
