mixin speaker(data)
  a.speaker(href="#")&attributes(attributes)
    .speaker__picture
      img.speaker__picture-img(src="./img/" + data.photo, alt)
    .speaker__content
      h5.speaker__name.mb-5 Виктор Галопогоский
      p.xs.text-black.mb-0 Куратор от Правительства Оренбургской области, Исполняющий обязанности 
