.partners {
  position: relative;
  z-index: 1;
  margin-top: 90px;
  margin-bottom: 155px;

  @include media-breakpoint-down(md) {
    margin: 30px 0;
  }

  &__header {

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    display: flex;
    flex: 0 0 33.33%;
    justify-content: center;
    align-items: center;

    @include transition;

    @include media-breakpoint-down(md) {
      padding: 10px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 30px;
      flex: 1 1 100%;
    }

    &:hover {
      opacity: .8;
    }

    &:last-child {

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    &--short {

      .partners__logo {
        max-width: 120px;
      }
    }
  }

  &__logo {
  }

  &--bordered {

    @include media-breakpoint-down(md) {
      margin-left: -16px;
      padding: 32px 16px 0;
      width: calc(100% + 32px);
      border-top: 1px solid rgba(129, 166, 211, .2);
    }
  }
}
