mixin partners(data)
  .partners&attributes(attributes)
    h2.text-blue.partners__header.mb-20.mb-lg-35 Организаторы форума:
    .partners__list
      a.partners__item(href="https://fadm.gov.ru/")
        img.partners__logo(src="./img/partner-1.svg", alt)
      a.partners__item(href="http://rscenter.ru/")
        img.partners__logo(src="./img/partner-2.svg", alt)
      a.partners__item.partners__item--short(href="https://gitr.ru/")
        img.partners__logo(src="./img/partner-3.svg", alt)
