.program {
  position: relative;
  z-index: 1;

  &__section {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid rgba(#000, .1);
    }

    &:last-child {

      @include media-breakpoint-down(md) {
        border-bottom: 0;
      }
    }
  }

  &__section-time {
    margin-right: 30px;
    padding-top: 15px;
    padding-right: 20px;
    width: 97px;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    border-right: 1px solid rgba(#000, .1);

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      border-right: 0;
    }
  }

  &__section-content {
    margin-right: -8px;
    margin-left: -8px;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
