mixin program(data)
  .program&attributes(attributes)
    .program__section
      .program__section-time 10:45-11:00
      .program__section-content
        .item Установка на день. Карта дня
    .program__section
      .program__section-time 11:00-12:30
      .program__section-content
        .item ГОРИЗОНТЫ СОБЫТИЙ
    .program__section
      .program__section-time 12:30-13:00
      .program__section-content
        .item.item--break Перерыв / Интерактивный нетворкинг
    .program__section
      .program__section-time 13:00-14:30
      .program__section-content
        .item Обед
    .program__section
      .program__section-time 14:30-16:30
      .program__section-content
        .item С205 - 80 чел	
        .item С205 - 80 чел	
        .item С205 - 80 чел	
        .item С205 - 80 чел	
    .program__section
      .program__section-time 16:30-18:30
      .program__section-content
        .item С205 - 80 чел	
        .item С205 - 80 чел	
        .item Длинное название чего бы то нибыло для наглядности отображения 
        .item С205 - 80 чел	
    .program__section
      .program__section-time 18:30-19:00
      .program__section-content
        .item.item--break Перерыв / Интерактивный нетворкинг
    .program__section
      .program__section-time 19:00-20:30
      .program__section-content
        .item Ужин
    .program__section
      .program__section-time 20:30-22:30
      .program__section-content
        +event({
          color: 'green',
          dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Из приоритетных направлений экономики в регионах является одним из приоритетных'
        }).event--item
        +event({
          favorite: true,
          color: 'yellow',
          dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Из приоритетных направлений'
        }).event--item
        +event({
          color: 'blue',
          dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной '
        }).event--item
