extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['О форуме']
      })
      h2.text-violet.mb-30 О форуме
      .row.mb-20.mb-lg-65
        .col-lg-6
          h5.text-violet.mb-30.mb-lg-0.pr-lg-50 Международный молодежный форум российских соотечественников, проживающих за рубежом, ONLINE пройдет с 29 июля по 2 августа 2021 года.
        .col-lg-6
          P.mb-0 Мероприятие станет одной из основных площадок для практико-ориентированного диалога и взаимодействия молодых соотечественников с российской молодежью
      .row.mb-lg-70
        .col-lg-6.d-flex
          +format({
            dscr: 'Рабочий язык форума — русский',
            icon: 'format-1.svg'
          })
        .col-lg-6.d-flex
          +format({
            dscr: 'Проект объединит российских соотечественников со всего мира',
            icon: 'format-2.svg'
          })
      p.mb-30.mb-lg-55 Целью форума является подведение итогов деятельности Сообщества молодых соотечественников, проживающих за рубежом, за 2017-2020 годы и придание нового импульса развитию Сообщества с учетом федеральной и региональной российской молодежной повестки
      h3.text-center.text-violet.mob-sm.mb-20.mb-lg-30.px-lg-20 В этом году у всех желающих есть возможность подключиться и стать участником программы. <br>Добро пожаловать в эру онлайн-мероприятий!
      .text-center.mb-30.mb-lg-70
        a.btn.btn-primary(href="info.html") Как стать участником
      h3.text-violet.mb-30.mb-lg-70 Во время Форума планируется решение ряда задач:
      +plan
      +details
      .row.mb-55
        .col-lg-6
          p.pt-lg-20.mb-0 Ежегодные встречи молодых соотечественников, проживающих за рубежом, проводятся в различных форматах с 2013 года и являются знаковым событием в рамках развития программ государственной политики Российской Федерации в отношении российских соотечественников.
        .col-lg-6
          +initiative
    +news-slider
    .container
      +partners
  +footer
