extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Новости', 'Инициатива проведения сформирована активом Сообщества молодых соотечественников']
      })
      .article
        .link-back
          .row
            .col-lg-1
              a.link-back__arrow(href="#")
            .col-lg-10
              .link-back__content 
                h2.text-violet.article__header.mb-0 Инициатива проведения сформирована активом Сообщества молодых соотечественников
        .row
          .col-lg-10.offset-lg-1
            .article__content
              img(src="./img/article-1.jpg", alt)
              p 10 августа стартует регистрация участников на онлайн-формат Международного молодежного форума «ЕвразияGlobal». Он будет реализовываться со 2 по 7 сентября, а офлайн-форум пройдет со 2 по 8 сентября в Оренбурге.
              p Участниками онлайн-форума могут стать специалисты, осуществляющие свою деятельность в сфере международного молодежного сотрудничества, молодежные лидеры, молодые иностранцы, заинтересованные во взаимодействии и сотрудничестве с российской молодежью в возрасте от 18 до 30 лет (до 35 лет для иностранных участников). <br>Зарегистрированному участнику будут открыты все возможности офлайн-форума: голосования, дискуссии, общение с другими форумчанами, участие в деловой программе, Программе 2.0 и других активностях.
              p Регистрация проходит в АИС «Молодежь России» по ссылке: https://myrosmol.ru/event/48517 и завершится 23 августа. Цель онлайн-форума — интеграция российских, зарубежных спикеров и участников, включение в работу представителей большого количества стран, предоставление возможности тем, кто не смог принять участие в мероприятиях основной программы, стать частью международного события.
              p Участники смогут практиковаться под чутким руководством профессионалов международного масштаба в онлайн-воркшопах и получить от специалистов необходимые консультации. Им будут доступны трансляции медийных встреч: дискуссий, TED Talks, интервью и ток-шоу с приглашенными гостями по основной теме дня. А также панельные дискуссии с известными руководителями и общественными деятелями из России, Германии, Италии, Нидерландов, Египта, Великобритании и других стран
            .article__footer
              .article__share
                .article__share-header Поделиться:
                +socials({
                  items: [['fb', '#', 'facebook'], ['vk', '#', 'vk'], ['tw', '#', 'twitter'], ['tg', '#', 'telegram'], ['wa', '#', 'whatsapp']],
                  type: 'share'
                })
      h3.text-blue.mb-20.mb-lg-35 Может быть интересно
      .row
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-1.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-2.jpg'
          })
        .col-sm-6.col-lg-4.d-none.d-lg-block
          +news({
            picture: 'news-3.jpg'
          })
      +partners
  +footer
