extends ../templates/template.pug
block content
  +header({
    login: true
  })
  .wrapper
    .container
      +breadcrumbs({
        links: ['Личный кабинет']
      })
      .cabinet
        h2.text-violet.mb-30 Личный кабинет
        .row
          .col-lg-8.col-md-9.order-2.order-md-1
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link.active#profile-tab(data-toggle='tab' href='#profile') Профиль
              li.nav-item
                a.nav-link#schedule-tab(data-toggle='tab' href='#schedule') Мое расписание
              li.nav-item
                a.nav-link#program-tab(data-toggle='tab' href='#program') Программа 2.0
            .tab-content
              #profile.tab-pane.fade.show.active(aria-labelledby="home-tab")
                .cabinet__table-wrapper
                  .cabinet__table-item
                    .cabinet__table-header Email
                    .cabinet__table-content chertilov+11@raec.ru
                  .cabinet__table-item
                    .cabinet__table-header Контактный телефон
                    .cabinet__table-content +7 985 668 99 88
                  .cabinet__table-item
                    .cabinet__table-header Статус
                    .cabinet__table-content Участник
                  .cabinet__table-item
                    .cabinet__table-header Страна проживания
                    .cabinet__table-content Россия
                  .cabinet__table-item
                    .cabinet__table-header О себе
                    .cabinet__table-content Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тотДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый 
                form.cabinet__table-form(action="#", method="POST")
                  .link-back.mb-30
                    a.link-back__arrow.cabinet__table-form-back(href="#")
                    .link-back__content
                      h3.text-secondary.mb-0 Редактировать профиль
                  .form__item.form-group
                    label.p.sm.text-secondary.mb-10 Email
                    input.input.form-control(type="email")
                  .form__item.form-group
                    label.p.sm.text-secondary.mb-10 Контактный телефон
                    input.input.form-control(type="phone")
                  .form__item.form-group
                    label.p.sm.text-secondary.mb-10 Статус
                    input.input.form-control(type="text")
                  .form__item.form-group
                    label.p.sm.text-secondary.mb-10 Страна проживания
                    input.input.form-control(type="text")
                  .form__item.form-group
                    label.p.sm.text-secondary.mb-10 О себе
                    textarea.input.input--textarea(type="text")
                  button.btn.btn-primary(type="submit") Сохранить
              #schedule.tab-pane.fade(aria-labelledby="schedule-tab")
                .row
                  .col-lg-11
                    .cabinet__schedule
                      .cabinet__schedule-section
                        h5.cabinet__schedule-day 29 июля
                        +event({
                          favorite: true,
                          color: 'green',
                          dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Из приоритетных направлений экономики в регионах является одним из приоритетных'
                        })
                        +event({
                          favorite: true,
                          color: 'green',
                          dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Из приоритетных направлений экономики в регионах является одним из приоритетных'
                        })
                      .cabinet__schedule-section
                        h5.cabinet__schedule-day 29 июля
                        +event({
                          favorite: true,
                          color: 'blue',
                          dscr: 'Формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Из приоритетных направлений экономики в регионах является одним из приоритетных',
                          person: true
                        })
              #program.tab-pane.fade(aria-labelledby="program-tab")
                .cabinet__program
                  +proposal
                  +topic({
                    interest: true
                  })
                  +topic
          .col-md-3.offset-lg-1.order-1.order-md-2
            .cabinet__user
              .cabinet__user-picture(style="background-image: url(./img/speaker-1.jpg)")
              .cabinet__user-content
                h5.text-secondary.mb-15 Виктор Галопогоский
                p.sm.font-weight-bold.text-black.mb-5 Бангладеш
                p.cabinet__user-type Участник
                a.cabinet__user-edit(href="#") Редактировать
  +footer
  +modal({
    type: 'offer'
  })#offer
