extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Участникам']
      })
      h2.text-violet.mb-25 Участникам
      .bg-light.p-15.py-lg-25.px-lg-40.mb-25
        h5.text-violet.mb-0 Международный молодежный форум российских соотечественников, проживающих за рубежом, ONLINE нацелен на создание площадки для практико-ориентированного диалога и взаимодействия молодых соотечественников с российской молодежью.
      p.text-violet.px-lg-40.mb-20.mb-lg-50 Благодаря удобному и доступному формату соотечественники со всего мира смогут встретиться в формате онлайн 
        span.font-weight-bold с 29 июля по 2 августа 2021 года.
      h5.text-violet.mb-20.mb-lg-60 К участию в форуме приглашаются российские соотечественники в возрасте от 18 до 40 лет:
      .row.mb-30.mb-lg-65
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-1.svg',
            dscr: 'представители русских сообществ (домов, ассоциаций, объединений, центров)'
          })
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-2.svg',
            dscr: 'представители молодёжных общественных объединений'
          })
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-3.svg',
            dscr: 'представители творческих коллективов'
          })
        .col-lg-3.col-sm-6
          +participants({
            icon: 'participants-4.svg',
            dscr: 'представители русских православных приходов за рубежом'
          })
      h3.text-violet.mb-30.mb-lg-50 Стать участником
      .step__wrapper
        +step({
          number: '1',
          dscr: '<a href=">https://aisrussia.com/login">Зарегистрироваться</a> в АИС «Молодые соотечественники»'
        })
        +step({
          number: '2',
          dscr: 'В разделе «<a href="https://aisrussia.com/events/online-forum-rossijskih-sootecestvennikov">Календарь мероприятий</a>» выбрать «ОНЛАЙН. Международный молодежный форум российских соотечественников, проживающих за рубежом»'
        })
        +step({
          number: '3',
          dscr: 'Подать заявку на участие в форуме соотечественников'
        })
        +step({
          number: '4',
          dscr: 'Дождаться подтверждения на электронную почту'
        })
        +step({
          number: '5',
          dscr: '<a href="http://vmesterussia.com/">Авторизоваться</a> на онлайн-платформе форума и подключиться к трансляции'
        })
      .row.mb-30.mb-lg-85
        .col-lg-6.d-flex
          +format({
            dscr: 'Отбор участников форума осуществляется на конкурсной основе.',
            icon: 'format-3.svg'
          }).format--reverse.format--light
        .col-lg-6.d-flex
          +format({
            dscr: 'Для всех не прошедших отбор, есть возможность принять участие в качестве слушателя.',
            icon: 'format-4.svg'
          }).format--reverse.format--light
      h3.text-center.text-violet.mb-25 Зарегистрируйтесь на форум, чтобы получить доступ ко всем возможностям платформы!
      .text-center
        a.btn.btn-primary(href="https://aisrussia.com/login") Зарегистрироваться через АИС «Молодые соотечественники»
      +announce
      h3.text-violet.mb-60.mb-lg-100 Программа форума затронет следующие направления:
      .row.mb-30.mb-lg-100
        .col-6.col-lg-3
          +field({
            icon: 'field-1.svg',
            title: 'Бизнес',
            angle: '27'
          })
        .col-6.col-lg-3
          +field({
            icon: 'field-2.svg',
            title: 'Общество',
            angle: '75'
          })
        .col-6.col-lg-3
          +field({
            icon: 'field-3.svg',
            title: 'Культура',
            angle: '105'
          })
        .col-6.col-lg-3
          +field({
            icon: 'field-4.svg',
            title: 'Будущее',
            angle: '135'
          })
      h3.text-violet.mb-20.mb-lg-40 Программа 2.0
      p.text-violet Программа 2.0 – формат профессиональных 
        nobr и/или 
        | развлекательных активностей, создаваемых участниками для участников.
      p.text-violet Вы профессионал в какой-либо области и готовы поделиться с миром накопленными знаниями, навыками и опытом? Воспользуйтесь возможностью и станьте спикером программы 2.0.
      h5.text-violet.mt-40.mb-30.mb-lg-75 Для этого необходимо пройти несколько этапов:
      .step__wrapper
        +step({
          number: '1',
          dscr: 'Выбор темы'
        })
        +step({
          number: '2',
          dscr: 'Подача заявки в Личном кабинете'
        })
        +step({
          number: '3',
          dscr: 'Модерация заявок организаторами'
        })
        +step({
          number: '4',
          dscr: 'Голосование участников'
        })
      p.text-violet.mb-lg-70 Заявки, набравшие большее количество голосов, попадут в программу Форума. <br>Шанс стать спикером есть у каждого участника, главное – заявить об этом!
      .row.mb-40.mb-lg-95
        .col-lg-6.d-flex
          +file({
            title: 'Вопросы и ответы'
          })
        .col-lg-6.d-flex
          +file({
            title: 'Скачать помощник для участника можно тут'
          })
  +footer
