extends ../templates/template.pug
block content
  +header({
    type: 'live'
  })
  .wrapper
    .container
      +breadcrumbs({
        links: ['Новости']
      })
      .live
        .link-back.mb-25
          a.link-back__arrow(href="#")
          .link-back__content 
            h2.text-violet.mb-0 Название сессии
        .row.no-gutters.border-bottom.pb-40.mb-40
          .col-lg-8
            +video
            p.sm.mb-0 Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которыеКаждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены  занесены 
          .col-lg-4
            +chat
        .row.mb-lg-100
          .col-lg-6.order-2.order-lg-1
            h5.text-secondary.mb-30 Спикеры
            .row
              .col-sm-6.col-md-4
                +person({
                  photo: 'speaker-1.jpg',
                  type: 'Ведущий'
                })
              .col-sm-6.col-md-4
                +person({
                  photo: 'speaker-2.jpg',
                  type: 'Спикер'
                })
              .col-sm-6.col-md-4
                +person({
                  photo: 'speaker-3.jpg',
                  type: 'Спикер'
                })
              .col-sm-6.col-md-4
                +person({
                  photo: 'speaker-4.jpg',
                  type: 'Ведущий'
                })
              .col-sm-6.col-md-4
                +person({
                  photo: 'speaker-5.jpg',
                  type: 'Спикер'
                })
              .col-sm-6.col-md-4
                +person({
                  photo: 'speaker-6.jpg',
                  type: 'Спикер'
                })
          .col-lg-6.order-1.order-lg-2.mb-30.mb-lg-0
            .live__questions
              .live__questions-header
                h5.text-secondary.mb-0 Вопросы спикерам
                a.btn.btn-primary(href="#question", data-fancybox) Задать вопрос
              .live__questions-content
                .p-15
                  p.sm.mb-0 Задавайте свои вопросы спикерам и после модерации они будут здесь опубликованы.
                //+question({
                  dscr: 'Какие революционные проекты в цифровизации появятся после карантина ?'
                //})
                //+question({
                  dscr: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?',
                  answer: true
                //})
                //+question({
                  dscr: 'Какие революционные проекты в цифровизации появятся после карантина ?'
                //})
                //+question({
                  dscr: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
                //})
                //+question({
                  dscr: 'Какие революционные проекты в цифровизации появятся после карантина ?'
                //})
                //+question({
                  dscr: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?',
                  answer: true
                //})
                //+question({
                  dscr: 'Какие революционные проекты в цифровизации появятся после карантина ?'
                //})
                //+question({
                  dscr: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
                //})
  +footer
  +modal({
    type: 'question'
  })#question
