extends ../templates/template.pug
block content
  +header({
    type: 'light'
  }).header--light
  .wrapper
    +front
    +info
    +stream
    +news-slider.news-slider--complex
    +about
    .container.my-30.my-lg-90
      h2.text-blue.mb-20.mb-lg-55 Планируется решение ряда задач:
      .row
        .col-lg-6.d-flex
          +task({
            pattern: 'task-bg-1.svg',
            icon: 'task-1.svg',
            dscr: 'Формирование стратегии развития Сообщества молодых соотечественников на 2022-2025 гг.'
          }).task--green
        .col-lg-6.d-flex
          +task({
            pattern: 'task-bg-2.svg',
            icon: 'task-2.svg',
            dscr: 'Развитие площадки практико-ориентированного диалога молодых представителей РФ и молодых соотечественников'
          }).task--blue
        .col-lg-6.d-flex
          +task({
            pattern: 'task-bg-3.svg',
            icon: 'task-3.svg',
            dscr: 'Продвижение объективного образа России среди зарубежной молодежи'
          }).task--turquoise
        .col-lg-6.d-flex
          +task({
            pattern: 'task-bg-4.svg',
            icon: 'task-4.svg',
            dscr: 'Изучение лучших практик межкультурного диалога молодежи России и зарубежья'
          }).task--red
      +partners
  +footer
