extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Для СМИ']
      })
      h2.text-violet.mb-25 Для СМИ
      a.btn.btn-outline-secondary.btn-arrow.mb-30.js-btn-anchor(href="#contacts") Контакты
      h3.text-violet.mob-sm.mb-30 Правила работы представителей СМИ на Международном молодежном форуме российских соотечественников, проживающих за рубежом, ONLINE в 2021 году.
      .row
        .col-lg-6
          p.sm Международный молодежный форум российских соотечественников, проживающих за рубежом, Online проходит на специализированной тематической площадке, где участники будут взаимодействовать на протяжении всего форума.
          p.sm Для всех желающих есть возможность принять участие в форуме в качестве слушателя. Однако представителей СМИ просим направлять уведомления о своем участии в онлайн-форуме в свободной форме на почту aisms@fadm.gov.ru. В теле письма укажите название СМИ, страну (регион), сайт издания, имя представителя СМИ, а также должность отправителя запроса и тематику готовящегося материала.
        .col-lg-5.offset-lg-1.d-flex
          .bg-light.d-lg-flex.align-items-start.p-20.pt-lg-55.pr-lg-40.pb-lg-40.pl-lg-50.border-radius
            img.d-block.mb-20.mb-lg-0.mr-lg-40(src="./img/envelope.svg", alt)
            p.sm.text-violet.mb-0 Для удобства представителей СМИ 
              nobr пресс-служба 
              | готова предоставить всю необходимую информацию в электронном виде (фото, видео, 
              nobr пресс-релизы
              |, 
              nobr пост-релизы
              |).
      .row.mt-30.mt-lg-50.mb-15
        .col-lg-6.d-flex
          +rule({
            header: 'Подписка на обновления сайта'
          })
            p.sm Вы можете подписаться на тематическую рассылку, отправив запрос на эл. адрес: 
              a(href="#") aisms@fadm.gov.ru
            p.sm Для включения в базу рассылки необходимо направить запрос на электронную почту, указав в теле письма название СМИ, страну (регион), сайт издания, имя представителя СМИ, а также должность отправителя запроса и адрес почты для рассылки.
        .col-lg-6.d-flex
          +rule({
            header: 'Использование фотоматериалов пресс-службы форума'
          })
            p.sm Банк фотографий высокого разрешения доступен по отдельному запросу на адрес: 
              a(href="#") aisms@fadm.gov.ru
            p.sm В теме письма указать: 
              a(href="#") «Запрос на фото».
            p.sm Фотоматериалы форума также обновляются в ежедневном формате и доступны на сайте 
              a(href="#") VmesteRussia.com
        .col-lg-6.d-flex
          +rule({
            header: 'Запрос на комментарий спикера форума'
          })
            p.sm Запрос на предоставление комментария спикера форума направляется на электронную почту: 
              a(href="#") aisms@fadm.gov.ru
            p.sm В теле письма указывается название СМИ, страна (регион), сайт СМИ, имя спикера, тематика готовящегося материала, сам вопрос, а также имя, мобильный телефон и должность отправителя запроса.
            p.sm В теме письма указать 
              span.font-weight-bold «Запрос комментария спикера»
        .col-lg-6.d-flex
          +rule({
            header: 'Аккредитация СМИ'
          })
            p.sm Все вопросы касательно офлайн-форума, а также для ознакомления с правилами работы представителей СМИ на офлайн-площадке и для получения аккредитации можно отправлять на 
              a(href="#") aisms@fadm.gov.ru. 
            p.sm В теме указать 
              span.font-weight-bold «Запрос по офлайн-форуму». 
      h3.text-violet.mb-25 Контактные данные для представителей СМИ
      p.md.mb-30 Вы всегда можете написать на почту: 
        a.text-secondary.font-weight-bold(href="mailto:aisms@fadm.gov.ru") aisms@fadm.gov.ru
      .row
        .col-lg-6
          +contact({
            name: 'Газеева Азалия',
            phone: '+7 (916) 762-51-34',
            photo: 'contact-1.jpg'
          })
        .col-lg-6
          +contact({
            name: 'Тесленко Вероника',
            phone: '+7 (985) 515-48-02',
            photo: 'contact-2.jpg'
          })
      h5.text-violet.mb-20.mb-lg-60 Мы будем рады ответить на все вопросы и сориентировать вас!
  +footer
