extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Новости']
      })
      h2.text-secondary.mb-35 Новости
      .row
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-1.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-2.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-3.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-4.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-5.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-6.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-7.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-8.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-9.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-1.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-2.jpg'
          })
        .col-sm-6.col-lg-4
          +news({
            picture: 'news-3.jpg'
          })
      .text-center.mt-xl-15
        a.btn.btn-outline-secondary(href="#") Загрузить еще
      +partners.partners--bordered
  +footer
