extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Программа']
      })
      h2.text-violet.mb-30 Программа форума
      ul.nav.nav-tabs.nav-tabs--sm.mb-20.mb-xl-55
        li.nav-item
          a.nav-link.active(data-toggle='tab' href='#tab29') 29.07
        li.nav-item
          a.nav-link(data-toggle='tab' href='#tab30') 30.07
        li.nav-item
          a.nav-link(data-toggle='tab' href='#tab31') 31.07
        li.nav-item
          a.nav-link(data-toggle='tab' href='#tab01') 01.08
        li.nav-item
          a.nav-link(data-toggle='tab' href='#tab02') 02.08
      .tab-content.pb-30.pb-lg-70
        #tab29.tab-pane.fade.show.active
          +program
        #tab30.tab-pane.fade
        #tab31.tab-pane.fade
        #tab01.tab-pane.fade
        #tab02.tab-pane.fade
  +footer
