extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Спикеры']
      })
      h2.text-violet.mb-30.mb-lg-55 Спикеры
      .row.mb-lg-50
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-1.jpg'
          }).speaker--turquoise.speaker--bottom-left
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-2.jpg'
          }).speaker--violet.speaker--top-right
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-3.jpg'
          }).speaker--yellow
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-4.jpg'
          }).speaker--blue.speaker--top
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-5.jpg'
          }).speaker--green.speaker--bottom-right
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-6.jpg'
          }).speaker--gray.speaker--bottom-right
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-7.jpg'
          }).speaker--violet.speaker--bottom-left
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-8.jpg'
          }).speaker--yellow.speaker--top-right
        .col-sm-6.col-lg-4
          +speaker({
            photo: 'speaker-9.jpg'
          }).speaker--blue.speaker--bottom-left
  +footer
