extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .row
        .col-lg-7
          h2.text-violet.mt-30.mt-lg-50.mb-35 Внимание!
          h3.mob-sm.mb-30.mb-lg-40 Похоже, что вы не регистрировались на Международный молодежный форум российских соотечественников, проживающих за рубежом, ONLINE.
      .row
        .col-lg-7
          .p.lh-lg Свяжитесь для уточнения информации <br>с нами по почте 
            a.text-violet.font-weight-bold(href="mailto:compatriotforum2020@gmail.com") compatriotforum2020@gmail.com <br>
            | или в мессенджерах: 
            .d-inline-flex.align-items-center
              a.text-violet.font-weight-bold(href="tel:+79684901548") +7 968 490 15 48
              a.messenger.d-inline-flex.ml-15(href="#")
                img(src="./img/msg-wa.svg", alt)
              a.messenger.d-inline-flex.ml-15(href="#")
                img(src="./img/msg-tg.svg", alt)
      +partners
  +footer
