.event {
  margin-bottom: 16px;
  padding: 16px;
  background: #eef1f6;
  border-radius: 5px;

  &__header {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__time {
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    color: $secondary;
  }

  &__place {
    font-size: 14px;
    line-height: 1.29;
    color: $blue;
  }

  &__header-star {
    position: relative;
    top: -6px;
    width: 22px;
    height: 22px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--active {
      background: url(../img/star-filled.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__section {
    margin-bottom: 7px;
    padding: 5px 6px 4px;
    display: inline-flex;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;

    &--green {
      background: #65a18d;
    }

    &--blue {
      background: #81a6d3;
    }

    &--yellow {
      background: $primary;
    }
  }

  &__person {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__person-picture {
    margin-right: 20px;
    width: 48px;
    height: 60px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 8px;
  }

  &__person-content {
  }

  &__person-name {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    color: $secondary;
  }

  &--item {
    margin: 0 8px;

    @include media-breakpoint-down(md) {
      margin: 0 0 10px;
    }
  }
}
