mixin event(data)
  .event&attributes(attributes)
    .event__header
      .event__header-left
        .event__time 11:45 - 12:30
        .event__place Зал2
      if data && data.favorite
        a.event__header-star.event__header-star--active(href="#")
      else
        a.event__header-star(href="#")
    .event__section(class="event__section--" + data.color) Конструктор событий	
    p.xs.mb-0= data.dscr
    if data && data.person
      .event__person
        .event__person-picture(style="background-image: url(./img/speaker-7.jpg)")
        .event__person-content
          a.event__person-name(href="#") Галопогоский Валентин
          p.xxs.text-black.mb-0 Куратор от Правительства Оренбургской области, Исполняющий обязанности 
