mixin front(data)
  .front&attributes(attributes)
    img.front__pattern(src="./img/front-pattern.svg", alt)
    .container
      .front__content
        .row
          .col-lg-9
            h4.text-white.mb-20.mb-lg-35 29 июля — 2 августа 2021
            h2.front__title.text-white.mb-25 Международный молодежный форум российских соотечественников, проживающих за рубежом, 
              span.front__title-accent ONLINE
            p.text-white.mb-25 Площадка для общения молодых соотечественников с российской молодежью
            a.btn.btn-primary(href="https://aisrussia.com/login") Войти
