.front {
  position: relative;
  padding: 212px 0 170px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(
    281.46deg,
    rgba(44, 64, 100, .87) 14.27%,
    rgba(59, 79, 114, .66) 37.94%
  );

  @include media-breakpoint-down(md) {
    padding: 80px 0 20px;
    min-height: 0;
  }

  &:before {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../img/front.jpg) no-repeat top center;
    background-size: cover;
  }

  &__pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
  }

  &__title-accent {
    position: relative;
    padding: 3.5px 4.5px;
    background: #65a18d;

    @include media-breakpoint-down(md) {
      padding: 2px;
    }
  }
}
