mixin news-slider(data)
  .news-slider&attributes(attributes)
    .news-slider__container
      .container
        .news-slider__wrapper
          h2.news-slider__title Новости
          .news-slider__content
            +news({
              picture: 'news-1.jpg'
            }).news-slider__item
            +news({
              picture: 'news-2.jpg'
            }).news-slider__item
            +news({
              picture: 'news-3.jpg'
            }).news-slider__item
            +news({
              picture: 'news-4.jpg'
            }).news-slider__item
            +news({
              picture: 'news-5.jpg'
            }).news-slider__item
            +news({
              picture: 'news-6.jpg'
            }).news-slider__item
