.news-slider {
  margin-bottom: 140px;

  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  &__container {
  }

  &__wrapper {
  }

  &__title {
    margin-bottom: 60px;
    color: $secondary;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-left: -16px;
    width: calc(100% + 32px);
  }

  &__item {
    margin: 0 16px;
    padding-top: 0;
    height: 328px;
  }

  &--complex {
    margin-bottom: -130px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    .news-slider__container {
      margin: 65px 0 130px;
      background: $violet;

      @include media-breakpoint-down(md) {
        margin: 0 0 40px;
      }
    }

    .news-slider__wrapper {
      position: relative;
      padding: 90px 0 144px;

      @include media-breakpoint-down(lg) {
        padding: 40px 0;
      }

      &:before {
        position: absolute;
        z-index: 1;
        top: -43px;
        right: calc(100% - 10px);
        display: block;
        width: 699px;
        height: 833px;
        content: '';
        background: url(../img/news-left.svg) no-repeat center;
        background-size: contain;
      }

      &:after {
        position: absolute;
        top: -176px;
        left: calc(100% - 122px);
        display: block;
        width: 771px;
        height: 924px;
        content: '';
        background: url(../img/news-right.svg) no-repeat center;
        background-size: contain;
      }
    }

    .news-slider__title {
      margin-bottom: 90px;
      color: #fff;

      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
      }
    }
  }
}
