.file {
  position: relative;
  z-index: 1;
  padding: 30px 45px 30px 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: $light;
  border-radius: 5px;

  @include transition;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;
    flex-direction: column-reverse;
    text-align: center;
  }

  &:hover {

    .file__icon {
      opacity: .8;
    }
  }

  &__icon {
    margin-left: 100px;
    flex-shrink: 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  &__icon-img {
  }
}
