.feature {
  position: relative;
  margin-bottom: 75px;
  padding-left: 20px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    position: absolute;
    top: -5px;
    left: 8px;
    width: 50px;
    height: 50px;

    @include media-breakpoint-down(sm) {
      top: 0;
      left: -5px;
      width: 20px;
      height: 20px;
    }
  }

  &__dscr {
    position: relative;
    z-index: 1;
  }

  &--violet {

    .feature__icon {
      background: #81a6d3;
    }
  }

  &--green {

    .feature__icon {
      background: #6fb5bf;
    }
  }

  &--purple {

    .feature__icon {
      background: #b381d3;
    }
  }

  &--gray {

    .feature__icon {
      background: #b6c3d9;
    }
  }

  &--blue {

    .feature__icon {
      background: #4ab9ff;
    }
  }

  &--yellow {

    .feature__icon {
      background: #ffdc64;
    }
  }
}
