.cabinet {
  padding-bottom: 60px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }

  &__table-wrapper {
  }

  &__table-form {
    display: none;
  }

  &__table-form-back {
    margin-top: 10px;
  }

  &__table {
  }

  &__table-item {
    padding: 10.5px 0;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgba(#000, .1);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__table-header {
    flex: 0 0 265px;
    font-size: 13px;
    line-height: 1.5;
    color: rgba(#515152, .78);

    @include media-breakpoint-down(md) {
      flex: 0 0 200px;
    }

    @include media-breakpoint-down(sm) {
      flex: 1 1 auto;
    }
  }

  &__table-content {
    font-size: 20px;
    line-height: 1.6;
    color: #000;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }

  &__schedule {
  }

  &__schedule-section {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__schedule-day {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: $secondary;
  }

  &__program {
    max-width: 640px;
  }

  &__user {
    padding-top: 75px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      padding-top: 0;
    }
  }

  &__user-picture {
    margin-bottom: 17px;
    width: 160px;
    height: 200px;
    background-position: top center;
    background-size: cover;
    border-radius: 8px;
  }

  &__user-content {
    max-width: 220px;
  }

  &__user-type {
    margin-bottom: 25px;
    font-size: 11px;
    line-height: 1.2;
    color: #000;
  }

  &__user-edit {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: $secondary;

    @include transition;

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    &:hover {
      opacity: .8;
      color: $secondary;
    }

    &:before {
      margin-right: 18px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/edit.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        margin-right: 10px;
      }
    }
  }
}
