.field {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  &__picture {
    position: relative;
    margin-bottom: 100px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }

  &__square {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-top: -72.5px;
    margin-left: -72.5px;
    width: 145px;
    height: 145px;
    background: #eef1f6;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__icon {
    max-width: 96px;
    max-height: 96px;
  }

  &__content {
  }
}
