mixin field(data)
  .field&attributes(attributes)
    .field__picture
      .field__square(style="transform: rotate(" + data.angle + "deg);")
      img.field__icon(src="./img/" + data.icon, alt)
    .field__content
      p.text-center.mb-0= data.title
