.initiative {
  padding: 37px 25px 37px 40px;
  background: #eef1f6;

  @include media-breakpoint-down(md) {
    margin-top: 30px;
    padding: 20px;
  }

  &__header {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__logo {
    margin-right: 45px;
    margin-bottom: 10px;
    max-width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}
