mixin initiative(data)
  .initiative&attributes(attributes)
    .initiative__header
      a.initiative__logo(href="#")
        img(src="./img/initiative-1.svg", alt)
      a.initiative__logo(href="#")
        img(src="./img/initiative-2.svg", alt)
    p.sm.mb-0 Инициатива проведения форума была сформирована активом Сообщества молодых соотечественников, проживающих за рубежом, в рамках тематической площадки Международного молодежного форума «Евразия Global» в 2019 году и поддержана МИД России и Росмолодежью. 
