.link-back {
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }

  &:hover {

    .link-back__arrow {
      opacity: .8;
    }
  }

  &__arrow {
    margin-top: 13.5px;
    margin-right: 32px;
    display: block;
    width: 23px;
    height: 17px;
    flex-shrink: 0;
    background: url(../img/link-back-arrow.svg) no-repeat center;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__content {
  }
}
