.video {

  &__content {
    padding-top: 50%;
  }

  &__info {
    padding: 15px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__views {
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 1.2;
    color: #000;

    &:before {
      margin-right: 9px;
      display: block;
      width: 16px;
      height: 11px;
      flex-shrink: 0;
      content: '';
      background: url(../img/views.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__evaluation {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__evaluation-btn {
    margin-right: 18px;
    display: flex;
    min-width: 43px;
    align-items: center;
    font-size: 11px;
    line-height: 1.2;
    color: #000;

    @include transition;

    &:hover {

      &:before {
        opacity: .8;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:before {
      margin-right: 10px;
      display: block;
      width: 14px;
      height: 13px;
      flex-shrink: 0;
      content: '';

      @include transition;
    }

    &--up {

      &:before {
        background: url(../img/upvote.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--down {

      &:before {
        background: url(../img/downvote.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
}
