mixin video(data)
  .video&attributes(attributes)
    .video__content(style="background: url(./img/video.png) no-repeat center; background-size: cover;")
    .video__info
      .video__evaluation
        a.video__evaluation-btn.video__evaluation-btn--up(href="#") 150
        a.video__evaluation-btn.video__evaluation-btn--down(href="#") 15
