mixin person(data)
  a.person(href="#")&attributes(attributes)
    .person__photo(style="background-image: url(./img/" + data.photo + ");")
    .person__content
      .person__type= data.type
      .person__name Валентинова Татьяна
      .p.xs.text-black.mb-0 Партнер, Speedinvest 
