.person {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;

  &:hover {
    color: #000;

    .person__photo {
      opacity: .8;
    }
  }

  &__photo {
    margin-bottom: 20px;
    width: 135px;
    height: 135px;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;

    @include transition;
  }

  &__content {
    text-align: center;
  }

  &__type {
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #81a6d3;
  }

  &__name {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: $secondary;
  }
}
