mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__item(href="#") О форуме
      a.menu__item(href="#") Программа
      a.menu__item(href="#") Участникам
      a.menu__item.menu__item--active(href="#") Новости
      a.menu__item(href="#") Спикеры
      a.menu__item(href="#") Для СМИ
      a.menu__item.js-btn-anchor(href="#contacts") Контакты
