.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      position: absolute;
      z-index: 2;
      top: 10px;
      right: 16px;
      display: block;
      width: 37px;
      height: 37px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
    }

    &--active {

      @include media-breakpoint-down(md) {
        z-index: 1;
        background: url(../img/close.svg) no-repeat center;
        background-size: 60%;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--active {

      @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 0;
        padding: 100px 0 20px;
        display: flex;
        //        justify-content: center;
        overflow: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background: #fff;
      }
    }
  }

  &__item {
    position: relative;
    margin-right: 56px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: $secondary;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 25px;
      font-size: 20px;
    }

    &:after {
      position: absolute;
      bottom: -1px;
      left: 22px;
      display: block;
      width: 0;
      height: 1px;
      content: '';
      background: $primary;

      @include transition;

      @include media-breakpoint-down(lg) {
        left: 5px;
      }
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    &:hover,
    &--active {
      color: $secondary;

      &:after {
        width: 100%;
      }
    }
  }
}
