.details {
  margin: 55px 0 68px;
  padding: 130px 0;
  background: url(../img/details-bg.jpg) no-repeat center;
  background-size: cover;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    margin: 30px 0;
    padding: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}
