mixin details(data)
  .details&attributes(attributes)
    .row
      .col-lg-9.offset-lg-1
        p.text-white.mb-30 В программе состоятся пленарные заседания, панельные дискуссии, мастер-классы, встречи с российской молодежью и представителями органов исполнительной власти, ответственных за реализацию государственной политики в отношении молодых соотечественников, работа тематических групп, нетворкинг и многое другое.
        a.btn.btn-primary(href="program.html") Подробнее о программе
