.header {
  //  position: sticky;
  position: fixed;
  z-index: 2;
  top: 0;
  padding-bottom: 20px;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid transparent;

  @include transition;

  &__top {
    padding: 32px 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include transition;

    @include media-breakpoint-down(md) {
      position: relative;
      z-index: 1;
      padding: 10px 57px 10px 0;
      background: #fff;
    }
  }

  &__top-left {
    display: flex;
    align-items: center;
  }

  &__live-btn {
    margin-left: 70px;
    padding: 4px 11.2px;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    color: $secondary;
    border: 1px solid $secondary;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(md) {
      color: #fff;
      background: $secondary;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover,
    &--active {
      color: #fff;
      background: $secondary;
    }
  }

  &__top-right {
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-picture {
    margin-right: 18px;
    width: 38px;
    height: 48px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      display: none;
      width: 37px;
      height: 37px;
    }
  }

  &__user-content {
    display: flex;
    flex-direction: column;
  }

  &__user-name {
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    color: $violet;
  }

  &__user-logout {
    margin-bottom: 0;
    font-size: 11px;
    line-height: 1.2;
    color: $violet;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &--light {

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
      background: #fff;
    }

    .header__top {
      padding-bottom: 47px;

      @include media-breakpoint-down(md) {
        padding-bottom: 10px;
      }
    }

    .logo__img {

      &--dark {
        display: none;

        @include media-breakpoint-down(md) {
          display: block;
        }
      }

      &--light {
        display: block;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    .header__live-btn {
      color: #fff;
      border-color: #fff;

      @include media-breakpoint-down(md) {
        color: #fff;
        background: $secondary;
        border-color: $secondary;
      }

      &:hover {
        color: $secondary;
        background: #fff;
      }
    }

    .header__btn {
      color: #fff;
      background: transparent;
      border-color: #fff;

      @include media-breakpoint-down(md) {
        color: $secondary;
        background: $primary;
        border-color: $primary;
      }

      &:hover {
        color: $secondary;
        background: #fff;
      }
    }

    .menu__item {
      color: #fff;

      @include media-breakpoint-down(md) {
        color: $secondary;
      }
    }
  }

  &--fixed {
    padding-bottom: 10px;
    background: #fff;
    border-color: $secondary;

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }

    .logo__img {

      &--dark {
        display: block;
      }

      &--light {
        display: none;
      }
    }

    .header__top {
      padding: 10px 0;

      @include media-breakpoint-down(md) {
        padding-right: 57px;
      }
    }

    .header__live-btn {
      color: $secondary;
      border-color: $secondary;

      @include media-breakpoint-down(md) {
        color: #fff;
        background: $secondary;
      }

      &:hover {
        color: #fff;
        background: $secondary;
      }
    }

    .header__btn {
      color: $secondary;
      background: $primary;
      border-color: $primary;
    }

    .menu__item {
      color: $secondary;
    }
  }
}
