mixin header(data)
  .header&attributes(attributes)
    .container
      .header__top
        .header__top-left
          +logo
          if data && data.type == 'live'
            a.header__live-btn.header__live-btn--active(href="live.html") LIVE
          else
            a.header__live-btn(href="live.html") LIVE
        .header__top-right
          if data && data.login
            .header__user
              a.header__user-picture(href="#", style="background-image: url(./img/speaker-1.jpg);")
              .header__user-content
                a.header__user-name(href="#") Виктор В...
                a.header__user-logout(href="#") Выйти
          else
            a.btn.btn-primary.header__btn(href="https://aisrussia.com/login") Войти
      .header__bottom
        +menu
        +socials({
          items: [['fb', 'https://www.facebook.com/aisrussia'], ['tg', 'https://t.me/joinchat/SZb1AvrPHbX3SkPG']]
        }).socials--wide.header__socials
