.participants {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
    padding: 0;
  }

  &__icon {
    margin-bottom: 35px;
    max-width: 100%;
    height: 80px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
}
