.live {

  &__questions {
    position: relative;
    z-index: 1;
    background: #fff;
  }

  &__questions-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__questions-content {
    position: relative;
    overflow: hidden;
    height: 584px;
    background: $light;

    @include media-breakpoint-down(md) {
      height: auto;
      max-height: 360px;
    }
  }
}
